<div *ngIf="dataSet?.length > 0" style="margin-top: 20px" class="container-fluid">
    <div class="row">
        <div style="margin-bottom: 20px;" *ngFor="let question of Questions;let i = index" class="col-lg-2">
            <mat-card  (click)="openDialog(i)" class="zoom" style="background-color: #2196F3; color: white;height: 100px;cursor: pointer">
               <div style="    text-align: center;margin-top: -18px;">
                   <h1 style="font-size: 79px;">{{question.id}}</h1>
               </div>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf="dataSet?.length <= 0">
    <img style="width: 100%;" src="assets/img/image.jpg">
</div>

